.AllSneakers {
  padding: 40px 60px;
}

.Header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
  }
}